#content{
    height: 520px;
    width: 330px;
    /* border: 1px solid black; */
    display: flexbox;
    justify-content: center;
    border-radius: 30px;
    background-color:white;
    margin: 10px;
    box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)   ;
   
}
#content:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
    transform: translate(0px,-8px);
}
#content1{
    height: 520px;
    width: 330px;
    /* border: 1px solid black; */
    display: flexbox;
    justify-content: center;
    border-radius: 30px;
    background-color:white;
    margin: 10px;
     box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
}
#content1:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
    transform: translate(0px,-8px);  
}
#content3{
    height: 520px;
    width: 330px;
    /* border: 1px solid black; */
    display: flexbox;
    justify-content: center;
    border-radius: 30px;
    background-color:white ;
    margin: 10px;
     box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
}
#content3:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
    transform: translate(0px,-8px);  
}
#content4{
    height: 520px;
    width: 330px;
    /* border: 1px solid black; */
    display: flexbox;
    justify-content: center;
    border-radius: 30px;
    background-color:white;
    margin: 10px;
     box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
}
#content4:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
    transform: translate(0px,-8px);  
}
#gallery{
display: flex;
justify-content: center;
margin: 40px;
gap: 30px;
/* background-color: #f2f2f2; */


}
#main-content{
    background-color: #f2f2f2;
    
}
#main{
    height: 230px;
    width: 300px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
}
#main:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23)  ;
    transform: translate(0px,-8px);   
}
h1{
    display: flex;
    justify-content: center;
}
#perent-box{
    display: flex;
    justify-content: center;
    gap: 5px;
    
}
h2{
    display: flex;
    justify-content: center;
}
#a1{
    color: yellow;
    font-size: 20px;
}
#a2{
    color: black;
    font-size: 20px;
}
p{
    color:darkgray ;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.buy1{
    height: 50px;
    width: 330px;
    /* border-radius: 20px; */
    border-radius: 20px;
    background-color: lightskyblue;
    color: white;
    font-size: 20px;
}

.buy-2{
    height: 50px;
    width: 330px;
    /* border-radius: 20px; */
    border-radius: 20px;
    background-color:  darkblue;   
    color: white;
    font-size: 20px;
}
.buy-3{
    height: 50px;
    width: 330px;
    /* border-radius: 20px; */
    border-radius: 20px;
    background-color:  black; 
    color: white;
    font-size: 20px;  
}
.buy-4{
    height: 50px;
    width: 330px;
    /* border-radius: 20px; */
    border-radius: 20px;
    background-color:  orange; 
    color: white;
    font-size: 20px;
}