* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    display: flex;
    background-color: #2c3e50;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 70px;
}

#nav a {
    color: aliceblue;
    font-size: 27px;
    text-decoration: none;

}

#nav a:hover {
    color: #2980b9;
}

#colem {
    height: 350px;
    width: 280px;
    border: 1px solid #ddd;
    margin: 8px;
    text-align: center;
}

#colem:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

#parent-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 13px;
    gap: 8px;
}

img {
    height: 240px;
    width: 230px;
    margin: 10px;
}

img:hover {
    transform: scale(1.05);
}

button {
    height: 30px;
    width: 80px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
}

h4 {
    color: gray;
}

button:hover {
    background-color: #2980b9;
}

#box-div {
    margin: 2px;
}

#form-teg {
    text-align: center;
}

#colej {
    /* text-align: center; */
    height: 250px;
    width: 400px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px auto;
    max-width: 400px;
    padding: 20px;
}

#form {
    text-align: center;
}

#users {
    margin: 7px;
    height: 200px;
    width: 350px;
    gap: 10px;
    text-align: center;
}

#harmi {
    height: 40px;
    width: 320px;
    /* text-align: center; */
    border: 1px solid #ddd;
    border-radius: 5px;
}

#mirha {
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background-color: black;
    color: white;

}

@media only screen and (min-width: 768px) {
    Tablet #colem {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 769px) and (max-width:1020px) {

    #parent-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:768px) {
    #parent-box {
        grid-template-columns: repeat(1, 1fr);
    }
}